@tailwind base;
@tailwind components;
@tailwind utilities;

.vectorblurtop {
  aspect-ratio: 1/1;
  width: 35%;
  box-shadow: -20px 20px 50px 10px #3e8fc3;
  opacity: 0.4;
}

.vectorblurbottom {
  aspect-ratio: 1/1;
  width: 35%;
  box-shadow: 30px -5px 50px 10px #3e8fc3;
  opacity: 0.4;
}

.vectorblurabout1 {
  aspect-ratio: 1/1;
  width: 30%;
  box-shadow: 30px -5px 70px 10px #3e8fc3;
  opacity: 0.4;
}

.vectorblurabout2 {
  aspect-ratio: 1/1;
  width: 30%;
  box-shadow: 30px -5px 200px 10px #3e8fc3;
  opacity: 0.4;
}
